/* Estilo específico para um componente. */
/* Por convenção, o nome do arquivo é escrito da seguinte forma: NomeComponente.module.css */
/* O uso de "-" nos seletores de classe e id não é permitida. */

.fraseContainer {
    background-color: rgb(110, 110, 110);
    border: 1px solid black;
    margin: 5px 0;
    padding: 10px;
}

.fraseContent {
    background-color: aliceblue;
}